@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}

html,
body {
  font-family: "Funnel Sans", sans-serif;
}

.input {
  @apply w-full py-2 pl-10 pr-4 border rounded-lg bg-slate-800/50 border-slate-700 text-slate-200 placeholder-slate-400 focus:ring-2 focus:ring-cyan-500 focus:border-transparent;
}

.auth-input-icon {
  @apply absolute -translate-y-1/2 left-3 top-1/2 text-slate-400 size-5;
}

.show-password-icon {
  @apply absolute -translate-y-1/2 right-3 top-1/2 text-slate-400 size-5 cursor-pointer
}

.auth-input-label {
  @apply block mb-2 text-sm font-medium text-slate-300;
}

.auth-badge {
  @apply inline-flex items-center px-3 py-1 text-xs font-medium rounded-full bg-cyan-500/20 text-cyan-300;
}

.auth-btn {
  @apply w-full btn btn-secondary text-white !mt-10;
}

.auth-link {
  @apply inline-block px-4 py-2 text-sm transition-colors rounded-lg bg-cyan-500/10 text-cyan-400 hover:text-cyan-500;
}